{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block main %}
    <div class="text-light">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}
